* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: #eae8e1;
  height: 100vh;
  width: 100vw;
}


a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: 400;
}

nav {
  background-color: #eae8e1;
  width: 100%;
  padding-bottom: 50px;
}

.navbar {
  margin-top: 1em;
  gap: 40px;
  text-transform: uppercase;
  font-weight: 300;
}


.nav-links {
  list-style: none;
  gap: 3rem;
}


nav img {
  width: 100px;
  margin-left: 30px;
}

header {
  background-image: url(/imges/loewe-technology-azMs02-lAFk-unsplash.jpg);
  background-color: rgb(126, 126, 121);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

.hero-container {
  max-width: 1280px;
  padding-top: 80px;
  padding-left: 40px;
  margin: auto;
}

.titel {
  font-size: 30px;
  width: 500px;
  color: white;
  line-height: 1.1;
  margin-bottom: 40px;
}

.form {
 
}

input,
button {
  border: none;
  border-radius: 50px;
  height: 60px;
  color: #1e1e1e;
  text-align: center;
  width: 400px;
  font-size: 30px;
  cursor: pointer;
}

.btn1 {
  background-color: #1e1e1e9d;
  color: #fff;
}

.arrow {
  margin-top: 305px;
  animation: studsa 2s infinite;
}

.arrow > img {
  width: 70px;
}


.services {
}

.services > div {
    text-transform: uppercase;
    font-size: 30px;
    color: #1e1e1e;
}

.services img {
  width: 200px;
  cursor: pointer;
}

.offers {

}

.basic {
}

.citat {
}

.textbox2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #1e1e1e;
  text-align: center;
}

.textbox2 h5 {
  font-weight: 200;
  font-size: 20px;
  margin: 5px;
}

.cards {
}

.card {
  width: 370px;
  height: 200px;
  border-radius: 15px;
  background-color: #f2f2f2;
}

.profile-pic {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 2px #eae8e1;
}

.star {
  margin-top: -50px;
  width: 150px;
}

.forms {
  background-color: #d1dce7;
}

.forms-pic {
  object-fit: cover;
  width: 500px;
  height: 400px;
}

.textbox3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #1e1e1e;

}

.btn2 {
  border: none;
  border-radius: 20px;
  height: 60px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  width: 400px;
  font-size: 30px;
  cursor: pointer;
}

footer {
  background-color: #f5f4f2;
}

footer h4 {
  color: #5a5a5a;
  font-weight: 400;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  color: black;
  gap: 10px;
  text-transform: uppercase;
}